<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthylifestyle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hl_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hl_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        //android:theme="@style/AppTheme">

        <activity android:name=".PersonInformationActivity"></activity>
        <activity android:name=".BodyParamsActivity" />
        <activity android:name=".WelcomeScreenActivity" />
        <activity android:name=".Training.cardioActivity" />
        <activity android:name=".Training.handsActivity" />
        <activity android:name=".Training.pressActivity" />
        <activity android:name=".Training.legsActivity" />
        <activity android:name=".Training.breastActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".DetailActivity2" />
        <activity android:name=".DetailActivity6" />
        <activity android:name=".DetailActivity7" />
        <activity android:name=".Ingestion.complexActivity" />
        <activity android:name=".Ingestion.snackActivity" />
        <activity android:name=".Ingestion.desertActivity" />
        <activity android:name=".Ingestion.dinner2Activity" />
        <activity android:name=".Ingestion.dinnerActivity" />
        <activity android:name=".Ingestion.breakfastActivity" />
        <activity android:name=".FullImage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Calculator_.calculateKBJU" />
        <activity android:name=".Ingestion.recipesActivity" />
        <activity android:name=".Training.trainingActivity" />
        <activity android:name=".favouritesActivity" />
        <activity android:name=".zohActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>