<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthylifestyle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cardioClass"></activity>
        <activity android:name=".handsClass" />
        <activity android:name=".pressСlass" />
        <activity android:name=".legsСlass" />
        <activity android:name=".breastСlass" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".DetailActivity2" />
        <activity android:name=".complexClass" />
        <activity android:name=".snackСlass" />
        <activity android:name=".desertClass" />
        <activity android:name=".dinner2Class" />
        <activity android:name=".dinnerClass" />
        <activity android:name=".breakfastСlass" />
        <activity android:name=".FullImageActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".calculateKBJU" />
        <activity android:name=".recipesСlass" />
        <activity android:name=".trainingСlass" />
        <activity android:name=".favouritesclass" />
        <activity android:name=".zohСlass" />
    </application>

</manifest>